.root {
    -fx-padding: 5px ;
}

.cell {

    /* Defines a black border around the standard color -fx-base */
    -fx-background-color:  #888888, -fx-base ;

    /* By default draw the base color over the whole region, so no border visible */
    -fx-background-insets: 0, 0 ;

    -fx-padding: 5px;
    -fx-text-alignment: center;
}

.cell:right {
    -fx-background-insets: 0, 0 2 0 0 ;
}

.cell:bottom {
    -fx-background-insets: 0, 0 0 2 0 ;
}

.cell:right:bottom {
    -fx-background-insets: 0, 0 2 2 0 ;
}

.cell .text-field {
    -fx-border-radius: 0px;
    -fx-pref-width: 3em ;
    -fx-pref-height: 3em ;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-border-color: #8f8f8f;
}
.cell .text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: -0.4, 1, 2;
    -fx-background-radius: 3.4, 2, 2;
}
.cell .invalid {
    -fx-background-color: red;
}

.cell .locked {
    -fx-background-color: #d3d4d5;
}